:root {
    /* Primary color shades */
    --md-primary-fg-color: #222;
    --md-primary-fg-color--dark: #222;

    /* Accent color shades */
    --md-accent-fg-color: #FF0000;
}

.md-typeset table:not([class]) th:not([align]){text-align:left}.md-typeset table:not([class]) th{
  min-width:10rem;
  padding:1.2rem 1.6rem;
  background-color:rgba(0, 0, 0, 1);
  color:#fff;
  vertical-align:top
}

.md-typeset a {
  color: var(--md-accent-fg-color);
}

article a:hover {
  text-decoration: underline;
}

/* Force header height and color */
.md-header {
    height: 50px;
		background-color: #222;
}

.md-header-nav__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header-nav__button.md-logo img, .md-nav__button img {
    height: 50px;
    width: 50px;
}
